<mat-card class="example-card" (click)="goTo(link)">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="showImg" mat-card-image [src]="imgSrc" />
  <mat-card-content>
    <p>
      {{ description }}
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="showButtons">
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
