<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{ name }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="showImg" mat-card-image [src]="imgSrc" />
  <mat-card-content>
    <p>
      {{ description }}
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="showButtons">
    <button mat-button (click)="edit()">Edit</button>
    <button mat-button (click)="delete()">Delete</button>
    <button mat-button (click)="goTo(link)">Details</button>
  </mat-card-actions>
</mat-card>
