<mat-toolbar>
  <!-- <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button> -->
  <a class="home" [routerLink]="['/home']"> <span>Student Notes</span></a>
  <span class="example-spacer"></span>
  <a
    mat-icon-button
    [routerLink]="['/class']"
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>class</mat-icon>
  </a>
  <a
    mat-icon-button
    [routerLink]="['/profile']"
    class="example-icon user"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>person</mat-icon>
  </a>
</mat-toolbar>
