.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // div {
  //   margin: 1em;
  // }
}

// .postIt{
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
// }
