.post-it {
  background-color: #dfc741;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  width: 3em;
  height: auto;
}

mat-chip {
  background-color: transparent;
}
mat-card-actions{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}